<div class="row">
  <div class="col text-right"></div>
  <button routerLink="addproduct" mat-raised-button color="accent">
    Add product</button>
  </div>




<div class="container mt-5">
  <div class="row">
<!-- {{productInfo | json}} -->

<div class="col-md-6 offset-md-3" *ngFor="let product of productInfo"
[routerLink]="product.id">
  <div class="card mb-4"
  >
    <div class="card-body"
    [ngClass]="{
      'notavail':!product.isAvailable
    }">
      <div class="imgcontainer mb-4">
        <img  class="img-fluid"[src]="product.image">
      </div>

      <div class="prodinfo ml-3">
        <h3>
          {{product.name}}
          <small class="p-2"
          [ngClass]="{
            'bg-success':product.rating >= 4,
            'bg-warning':product.rating >=3 && product.rating < 4,
            'bg-danger':product.rating < 3
          }">
            {{product.rating}}
          </small>
        </h3>

        <h4 class="offpricecss">
          <strong>Rs.{{product.offerprice}}</strong>
          <p><small>Free Delivery</small></p>
        </h4>

        <h5 class="text-muted pricecss">
          {{product.price}}
        </h5>

        <strong class="d-block text-danger" *ngIf="product.noofitem < 10">
          only {{product.noofitem}} left
        </strong>

        <div class="text-danger noproduct" *ngIf="!product.isAvailable">
          Currently Not Avaialable
        </div>
      </div>
    </div>
  </div>
</div>

  </div>
</div>
