/* You can add global styles to this file, and also import other style files */

body{
  background-image: url(https://images.unsplash.com/photo-1730761169407-bab913deab6e?q=80&w=1460&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-attachment: fixed;
 background-position: calc(50%);
 background-repeat: no-repeat;
 background-size: cover;
}
